<html>
<body>
	<b>
	There was a young lady of Wight <P/>
	Who travelled much faster than light <P/>
	She departed on {{ ansible_date_time.weekday }} <P/>
	In a relative way <P/>
	And arrived on the previous night <P/>
	</b>
	</br>
	</br>
	{{ test_value }}
</body>
</html>


